.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.base-container{
  display: flex!important;
  justify-content: center;
  margin: auto!important;
  position: fixed;
  align-items: center;
  height: 100%;
  width: 100%!important;
}

.segment{
  overflow: auto;
  height: 90vh;
  width: 450px;
  padding: 0!important;
  border-radius: 0!important;
  border: 8px solid rgba(34,36,38,.15)!important;
  overflow-x: hidden;
}

.pokemon-list{
  border-radius: 0!important;
  border: 1px solid black!important;
  width:100%;
}

.ui.modal{
  height: 70vh!important;
  width: 410px!important;
  border-radius: 0!important;
  margin-left: -10px!important;
  margin-top: -8rem!important;
}

.ui.dimmer{
  background: none!important;
}

.ui.modal>.header{
  display: flex!important;
  justify-content: space-between;
  padding: 1rem 1rem!important;
}

.pokemon-image{
  width:100px!important;
  height:100px!important;
  background-color: #ECECEC!important ;
}

.header-content{
  display: inline-flex;
}

.font-reg{
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: bold;
}

.font-title{
  color: #DB2828;
  margin: 0.5rem 0;
  text-transform: uppercase;
}

.font-sub-title{
  color: #DB2828;
  margin: 1rem 0;
  font-weight: bolder;
}

.display-grid{
  display: grid;
  margin-left: 0.5rem;
}

.scrolling.content{
  height:52vh!important;
  background: #ECECEC!important;
  line-height: 1rem!important;
  
}

.button-close{
  color: #DB2828!important;
  background: white!important;
}

.actions{
  margin-top: -0.75rem;
  margin-right: -1rem;
}

#row-width{
  width: 400px!important;
  display: flex;
}
